.text-green {
    color: #36d38f;
    font-family: "Courier New", Courier, monospace;
}

/* ****** */
/* Button */
/* ****** */
.ext-button {
    width: 125px;
    height: 50px;
    background-color: #13cc7c;
    border-color: #13cc7c;
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    color: #000000;
    font-family: "Courier New", Courier, monospace;
    font-weight: 200;
    cursor: pointer;
    padding-bottom: 10px;
}

.ext-button:hover {
    background-color: #36d38f;
    margin: 3px;
    transform: scale(1.05);
}

.ext-button:active {
    background-color: #36d38f;
    transform: translateY(4px);
}

/* ****** */
/* BODY */
/* ****** */
.ext-body {
    padding: 0%;
    margin: 0%;
    height: 600px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-h {
    display: flex;
    justify-content: center;
}

/* ******* */
/* Image  */
/* ***** */
.ext-img {
    width: 10em;
    height: 10em;
    border-radius: 25px;
    padding: 15px;
}

.width-100 {
    width: 100%;
}

.border-top {
    border-top: #ffffff35 dotted 1px;
}

.postion-bottom {
    position: absolute; 
    bottom: 15px; 
}

.ext-audio::-webkit-media-controls-panel {
    background-color: #13cc7c;
  }
  
  .ext-audio::-webkit-media-controls-mute-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }