@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.text-green {
    color: #36d38f;
    font-family: "Courier New", Courier, monospace;
}

/* ****** */
/* Button */
/* ****** */
.ext-button {
    width: 125px;
    height: 50px;
    background-color: #13cc7c;
    border-color: #13cc7c;
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    color: #000000;
    font-family: "Courier New", Courier, monospace;
    font-weight: 200;
    cursor: pointer;
    padding-bottom: 10px;
}

.ext-button:hover {
    background-color: #36d38f;
    margin: 3px;
    transform: scale(1.05);
}

.ext-button:active {
    background-color: #36d38f;
    transform: translateY(4px);
}

/* ****** */
/* BODY */
/* ****** */
.ext-body {
    padding: 0%;
    margin: 0%;
    height: 600px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-h {
    display: flex;
    justify-content: center;
}

/* ******* */
/* Image  */
/* ***** */
.ext-img {
    width: 10em;
    height: 10em;
    border-radius: 25px;
    padding: 15px;
}

.width-100 {
    width: 100%;
}

.border-top {
    border-top: #ffffff35 dotted 1px;
}

.postion-bottom {
    position: absolute; 
    bottom: 15px; 
}

.ext-container-audio {
    margin: 10px;
    border: #ffffff35 dotted 1px;
    border-radius: 15px;
}

.ext-audio::-webkit-media-controls-panel {
    background-color: #13cc7c;
    border-color: #13cc7c;
  }
  
  .ext-audio::-webkit-media-controls-mute-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }

.ext-text-input {
    width: 90%;
    height: 25px;
    border-radius: 13px;
    border: none;
    background-color: #ffffff1c;
    color: #ffffff;
    text-indent: 10px;
    margin-bottom: 15px;
}

.ext-text-input:focus {
    outline: none;
}

.ext-drop-down {
    width: 90%;
    height: 25px;
    border-radius: 13px;
    border: none;
    background-color: #ffffff1c;
    text-indent: 10px;
    margin-top: 15px;
}

::placeholder {
    color: #ffffff9a;
}

.sec-center {
  margin-top: 15px;
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 15px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}

.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.ext-icon {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.ext-icon:hover {
  color: #102770;
  background-color: #ffeba7;
}

.ext-icon .section-dropdown {
  font-size: 22px;
}
