.text-green {
    color: #4aa44f;
    font-family: "Courier New", Courier, monospace;
    border-top: 1px solid gray;
}

.ext-nav {
    height: 5em;
    width: 100vw;
    border-bottom: 1px solid #ffffff5d;
}
/* ****** */
/* Button */
/* ****** */
.ext-button {
    width: 125px;
    height: 50px;
    background-color: #3e8e41;
    border-color: #3e8e41;
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    font-weight: 200;
    cursor: pointer;
}

.ext-button:hover {
    background-color: #4aa44f;
}

.ext-button:active {
    background-color: #4aa44f;
    transform: translateY(4px);
}

/* ****** */
/* BODY */
/* ****** */
.ext-body {
    padding: 0%;
    margin: 0%;
    height: 600px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.9);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-h {
    display: flex;
    justify-content: center;
}

.ext-container {
    height: 100;
    width: 100%;
}

.test {
    height: 325px;
}

/* ******* */
/* Image  */
/* ***** */
.ext-img {
    width: 10em;
    height: 10em;
    border-radius: 25px;
    padding: 15px;
}
